.about__description {
  margin-top: 24px;
  max-width: 288px;
}

@media all and (min-width: 768px) {
  .about__description {
    max-width: none;
    margin-top: 0;
  }
}

@media all and (min-width: 1440px) {
  .about__description {
    margin-top: 50px;
  }
}

