.slide__author-name {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #1A1B22;
  margin: 0;
}

@media all and (min-width: 1440px) {
  .slide__author-name {
    font-size: 26px;
  }
}

