.search-news__button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background: #2F71E5;
  border-radius: 100px;
  width: 288px;
  height: 56px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.search-news__button:hover {
  transition: .2s ease-in-out;
  background: #347EFF;
}

.search-news__button:focus {
  background: #2A65CC;
}

@media all and (min-width: 768px) {
  .search-news__button {
    z-index: 5;
    width: 160px;
    margin-left: -160px;
  }
}

@media all and (min-width: 1439px) {
  .search-news__button {
    width: 168px;
  }
}

