@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/container/container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/search-news/search-news.css);
@import url(../blocks/about/about.css);
@import url(../blocks/content-title/content-title.css);
@import url(../blocks/content-subtitle/content-subtitle.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/preloader/preloader.css);
@import url(../blocks/nothing-found/nothing-found.css);
@import url(../blocks/search-results/search-results.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/clients/clients.css);


*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

