.github__title-button {
  display: none;
}

@media all and (min-width: 768px) {
  .github__title-button {
    display: flex;
  }
}

/* @media all and (min-width: 1440px) {
  .github__title-button {
    max-width: none;
  }
}
 */
