@import url(./__date/slide__date.css);
@import url(./__author-container/slide__author-container.css);
@import url(./__author-avatar/slide__author-avatar.css);
@import url(./__author-info/slide__author-info.css);
@import url(./__author-name/slide__author-name.css);
@import url(./__author-email/slide__author-email.css);
@import url(./__commit-text/slide__commit-text.css);
@import url(./__container/slide__container.css);

.swiper-slide {
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 16px;
    min-height: 200px;
    list-style-type: none;
}

@media all and (min-width: 768px) {
    .swiper-slide {
        max-width: 336px;
        height: 242px;
    }
}

@media all and (min-width: 1440px) {
    .swiper-slide {
        height: 288px;
        max-width: 288px;
        width: 288px;
    }
}

