@import url(./__date/slide__date.css);
@import url(./__author-container/slide__author-container.css);
@import url(./__author-avatar/slide__author-avatar.css);
@import url(./__author-info/slide__author-info.css);
@import url(./__author-name/slide__author-name.css);
@import url(./__author-email/slide__author-email.css);
@import url(./__commit-text/slide__commit-text.css);
@import url(./__container/slide__container.css);

.swiper-slide {
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 16px;
    height: 242px;
    list-style-type: none;
}
