.search-results__title-container {
  display: flex;
  flex-direction: column;
  width: 288px;
  margin: 0 auto 36px auto;
}

@media all and (min-width: 768px) {
  .search-results__title-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 688px;
    margin: 0 auto 32px auto;
  }
}

@media all and (min-width: 1440px) {
  .search-results__title-container {
    margin: 0 auto 64px auto;
    width: 1236px;
  }
}
